.navbar {
    padding: 20px;
}

.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.activeNav {
    background: #ff8100;
}

.nav-link:hover {
    background: #ff8100;
}

#carousel-1 {
    background-color: antiquewhite;
}

#carousel-2 {
    background-color: wheat;
}

#carousel-3 {
    background-color: coral;
}

.carousel-control-prev {
    background-color: black;
    top: 40%;
    height: 20%;
    width: 5%;
}

.carousel-control-next {
    background-color: black;
    top: 40%;
    height: 20%;
    width: 5%;
}

footer {
    background-color: gray;
}

